fastapi~=0.111.0
matplotlib~=3.8.4
numpy~=1.26.4
pandas~=2.2.2
scikit-learn~=1.4.2
keras==3.3.3
keras-models==0.0.7
keraslayers==1.1.15
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-cpu==2.16.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.31.0